@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsla(356, 90%, 73%, 1);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hsla(356, 90%, 73%, 1);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: hsla(356, 90%, 73%, 1);
} 

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #4865ff;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

ul {
  padding: 0;
  margin: 0;
}



li {
  color: hsla(12, 98%, 60%, 1);
  background: hsl(16.92,100%,92.35%);
  /* background: -webkit-linear-gradient(90deg, #4865ff 0%, #51ff47 100%);
  background: linear-gradient(90deg, #4865ff 0%, #51ff47 100%); */
  padding: 10px;
  width: fit-content;
  list-style-type: none;
  border-radius: 15px;
  max-width: 30ch;
  word-wrap: break-word;
}

.own-message {
  align-self: flex-end;
  color: hsl(330.37,67.5%,52.94%);
  background: hsl(340,83.33%,92.94%);
}

.presence-message {
  align-self: center;
  color: hsl(242.11,48.72%,54.12%);
  background: hsl(253.85,52%,95.1%);
}

form {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: space-between;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100vw - 20px);
  height: 50px;
  column-gap: 10px;
}

input {
  background-color: hsl(3.33, 100%, 89.41%);
  color: hsl(354.45, 87.82%, 61.37%);
  flex-grow: 1;
  border-radius: 15px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

input:focus {
  outline: none;
}

button {
  width: 20%;
  max-width: 250px;
  padding: 15px 32px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0;
  background-color: hsl(253.85,52%,95.1%);
  color: hsl(242.11,48.72%,54.12%);
  font-weight: bold;
}

#messages {
  box-sizing: border-box;
  height: calc(100vh - 60px);
  height: calc(var(--vh, 1vh) * 100 - 60px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}